@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');

body{
    font-family: "Urbanist";
    background: #0d6efd;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contenedor{
    display: grid;
    padding:0px;
    grid-template-rows: auto auto auto;
    grid-template-columns:auto;
}


/* Empieza header*/
.header{
    height:125px;
    padding: 0px;
    width: 100%;
    top:0;
    left: 0;
    background: #000000;
}

.header-top{
    display: flex;
    justify-content: space-between;
    background:#0d6efd;
    height: 80px;
    padding-left: 10px;
}

.logo{
    width: 80px;
}

.header-top-loguin-ul{
    display: flex;
    list-style: none;
}

.header-top-loguin-ul-li{
    font-size: 20px;
    margin: 8px;
    line-height: 35px;
}

.header-top-loguin-ul-li-button{
    width:100px;
    height: 35px;
    background-color: #3a3a3a;
    border-radius: 5px;
    border: none;
}
.header-top-loguin-ul-li-button:hover{
    background-color: #57DFB7;
    border-radius: 5px;
    transition: 1.03s;
}

.header-top-loguin-ul-li-link{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.header-top-loguin-ul-li-link:hover{
    color: #000000;
    text-decoration: none;
}

.header-top-loguin-ul-li-carrito{
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 10px;
}
.header-top-loguin-ul-li-carrito:hover{
    color: rgb(0, 0, 0);
}

.header-top-loguin-ul-li-span{
    font-size: 15px;
    margin-right: 10px;
}

/*--barra navegación--*/
.div-nav{
    background: #3a3a3a;
    height: 40px;
    color: #fff;
}

.div-nav-menu{
    display: flex;
    list-style: none;
    position: absolute;
    margin: 0;
}

.div-nav-menu-item{
    margin: 0px;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
}

.div-nav-menu-link{
    padding: 0px 13px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    display: block;
}
.div-nav-menu-link:hover{
    background-color: black;
    color: #57DFB7;
    transition: 0.5s;
}

.div-nav-button{
    margin-left: 10px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    background:none;
    border: none;
    padding: 0 10px;
    line-height: 35px;

    display: none;
}

.container-submenu{
    background: #3a3a3a;
    display: flex;
}
.submenu{
    background: #454644;
    position:absolute;
    padding:0px 1px;
    margin-top: 40px;
    display: none;
}

.container-submenu:hover > .div-nav-menu{
    display: block;
    z-index: 1;
}

.submenu-item a:hover{
    background: #000000;
    color: #57DFB7;
    padding: 0 5px;
    transition: 1.03s;
}
.submenu-link{
    display: block;
    margin:0;
    width: 150px;
    color: #ffffff;
    text-decoration: none;
}
/* Termina Header  */

/*Empieza la Galeria*-------------------_______________________________________*/


.galeria{
    background-color: rgb(255, 255, 255);
    max-height:auto ;
    padding: 20px;
    height:auto;
}

.gal-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(400px, 300px);
    gap: 20px;
    background-color: #fff;
    padding: 20px;
}

.gal{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;


    background-color: #ffffff;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    border: solid 1px #38383657;

    background-size: cover;
    background-repeat: no-repeat;
}

.gal-producto{
    position: relative;
}

.gal-price{
    position:absolute;
    width: 99%;
    height: 14.5%;
    top: 85%;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #38383657;
}

.gal:hover, .gal-price:hover{
    border: 1px solid #0d6efd;
    filter: opacity();
    transform: scale(1.01);
}

.gal-title{
    position:absolute;
    width: 99%;
    height: 14.5%;
    bottom: 85%;
    background-color: #ffffff;
    border-radius: 4px;
}
.gal>h3{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.gal-link{
    position:relative;
    justify-content: center;
}

.gal-image{
    object-fit:fill;
    width: 60%;
}




/*-----------------------------------------PAGINACION---Previus-1-2-3-4 NEXT------------------------------------------------------------*/

.paginacion{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.page-item .page-link{
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    color: #3a3a3a;
    padding: 5px;
}

.page-link:hover{
    color: #57DFB7;
    font-weight: bolder;
    font-size: 17px;
    text-transform: bolder;
}
/*EMPIEZA Footer-------------------------------EMPIEZA Footer---------------------EMPIEZA Footer--------------------------*/
.footer{
    background-color: #0d6efd;
    color: #fff;
    padding: 10px 0;
    height: 1px;
}

.container{
    max-width: 1200px;
    margin: auto;
}

ul{
    list-style: none;
}

.fila{
    display: flex;
}

.footer-col{
    width: 25%;
    padding: 0px;
}

.footer-col h3,h4{
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}

.footer-col p{
    text-align: left;
}

.footer-col-link{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    margin: 5px;
    line-height: 25px;
    display: block;
    transition: all 0.3s ease;
    width: 200px;
}

.footer-col-link:hover{
    color: #fff;
    padding-left: 8px;
}

.footer-col-ul{
    padding:0;
    margin-top: 20px;
}

.footer-col-social{
    display: flex;
    margin: 0;
}

.footer-col-email{
    background-color: #242424;
    margin:20px 0px;
    width: 170px;
    height: 25px;
    border-radius: 20px 0px 0px 20px;
    color: rgb(253, 249, 249);
}

.footer-col-s{
    background-color: #fff;
    height: 30px;
    border-radius: 0px 20px 20px 0px;
    margin-bottom: 10px;
}

.footer-col-redes{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #fff;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #000000;
    transition: all 0.3s ease;
}

.footer-col-redes:hover{
    background-color: #000000;
    color: #fff;
}



.footer-botton{
    background-color: #3a3a3a;
}
.footer-copyright{
    width: 100%;
    text-align: center;
}


/*TERMINA Footer*/

/*MEDIA QUERY*------------------EMpieza------------------QUERY------------------------------------QUERY------..-----------*/
@media (max-width: 768px){
    .header{
        height: 85px;
    }
    .header-top{
        background-color:#0d6efd;
        height: 50px;
        padding-left: 10px;
    }
    .logo{
        width: 50px;
        border-radius: 5px;
    }

    .header-top-loguin-ul{
        display: flex;
        list-style: none;
    }
    
    .header-top-loguin-ul-li{
        font-size: 10px;
        margin: 2px;
        line-height: 30px;
    }
    
    .header-top-loguin-ul-li-button{
        width:85px;
        height: 30px;
        background-color: #ffffff;
        border-radius: 5px;
        color: #28251f;
    }
    .header-top-loguin-ul-li-button:hover{
        background-color: #020000;
        color: #fff;
        border-radius: 5px;
        transition: 1.03s;
    }
    
    .header-top-loguin-ul-li-link{
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        
    }
    
    .header-top-loguin-ul-li-link:hover{
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    
    .header-top-loguin-ul-li-carrito{
        font-size: 20px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        margin-right: 10px;
    }
    .header-top-loguin-ul-li-carrito:hover{
        color: rgb(0, 0, 0);
    }
    
    .header-top-loguin-ul-li-span{
        font-size: 15px;
        margin-right: 10px;
    }

    
    /*--barranav--*/
    .div-nav-menu{
        flex-direction: column;
        align-items:flex-start;
        margin-right: 10px;
        background-color: #3a3a3a;
        position:fixed;
        left: 0;
        top: 50px;
        width: 100%;
        padding: 10px 0px;

        overflow-y: visible;

        top: 100%;
        transition: left 0.3s;
        z-index: 1;
    }
    .div-nav-menu-item{
        
        width: auto;
        padding-left: 10px;
    }
    .div-nav-button{
        display:block;

    }

    .div-nav-menu_visible{
        left: 0;
        top: 80px;
    }
    /*categorias*/
    .container-submenu{
        background: #000000;
        display: flex;
        width: 100%;
    }
    .submenu{
        background: #454644;
        position:relative;
        height: 400px;
        width: 75%;
        padding:0;
        margin-top: 0px;
        display: none;
    }

    .submenu-item a:hover{
        background: #000000;
        color: #fff;
        padding: 0 5px;
        transition: 1.03s;
    }
    .submenu-link{
        display: block;
        width: 100px;
        margin:0;
        width: 150px;
        color: #ffffff;
        text-decoration: none;
    }

    /*_________________Galeria*/
    
    .gal-grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: minmax(200px, 150);
    }

    .gal-image{
        object-fit: fill;
        width: 50%;
    }
    

    /*footer*/
    
    .container{
        max-width: 768px;
        margin: 5px;
    }
    .fila{
        display:block;
        flex-direction: column;
        padding-left: 10px;
    }
    .footer-col{
        margin-right: 20px;
    }

    .footer-col-social{
        font-size: 20px;
    }
    .footer-col-email{
        display: inline-block;
        background-color: #242424;
        margin: 15px 0px;
        width: 300px;
        height: 25px;
        border-radius: 20px 0px 0px 20px;
        color: rgb(253, 249, 249);
    }
    
    .footer-col-s{
        background-color: #fff;
        height: 30px;
        border-radius: 10px 10px 10px 10px;
        margin-bottom: 10px;
    }
    .footer-col-redes{
        height: 40px;
        width: 40px;
        background-color: #fff;
        margin:0px 10px 10px 0px;
        text-align: center;
        line-height: 40px;
        border-radius: 20px;
        color: #000000;
        transition: all 0.3s ease;
    }
}
/*FIn-------------------------------------------------------------------------------*/



